@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 text-gray-900;
  }
}

/* Ẩn icon con mắt mặc định của trình duyệt (Edge, IE, Chrome) */
input::-ms-reveal,
input::-ms-clear {
  display: none !important;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}
