<header class="main-header">
    <a href="index.html" class="logo">GemFlix</a>
    <nav class="main-nav">
        <ul>
            <li><a href="index.html">Trang Chủ</a></li>
            <li><a href="movies.html">Phim Lẻ</a></li>
            <li><a href="movies.html">Phim Bộ</a></li>
            <li><a href="movies.html">Mới & Phổ Biến</a></li>
        </ul>
    </nav>
    
    <div class="header-right">
        
        <div class="user-menu">
            <button id="user-menu-btn" class="user-menu-btn" title="Tài khoản">
                <i class="fa-solid fa-user"></i> 
            </button>
            <div class="user-dropdown" id="user-dropdown">
                <a href="login.html">Đăng nhập</a>
                <a href="register.html">Đăng kí</a>
            </div>
        </div>
        
        <div class="search-box">
            <input id="header-search-input" type="text" placeholder="Tìm kiếm...">
            <i id="header-search-btn" class="fa-solid fa-magnifying-glass" title="Tìm kiếm"></i>
        </div>

    </div>
</header>