<div class="modal-trailer" id="trailer-modal">
    <div class="modal-content">
        <span class="modal-close" id="modal-close-btn">&times;</span>
        <div class="video-container">
            <iframe id="trailer-iframe" 
                    src="" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
        </div>
    </div>
</div>